<table class="table">
    <thead>
      <tr>
        <th scope="col">idproduit</th>
        <th scope="col">code</th>
        <th scope="col">prix_unitaire</th>
        <th scope="col">Name </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of ListProduit let i=index;">
        <th scope="row">{{li.idProduit}}</th>
        <td>{{li.code }}</td>
        <td>{{li.prixUnitaire }}</td>
       
        <td>{{li.name }}</td>      
        <td>  <button class="btn btn-primary" (click)="Delete(li.idProduit)"> Delete</button></td>
        <td>  <button class="btn btn-primary" (click)="UpdateUser(li.idProduit)"> Update</button></td>
       
      </tr>
    </tbody>
  </table>